<% if current_user.location.nil? %>
	<div class="alert alert-danger"><p class="alert">You must add your Address to the system before searching for potential matches</p></div>


<% else %>


<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<h1>Find a Family</h1>
		<p>Search based on distance and the number of children in each family. Once you have found a family that you would like to connect with, email them. If there is a strong connection and a potential match, contact Seattle Nanny Network and we will work with you to place a shared nanny.</p>
	</div>
</div>	

<hr>

<div class="row">
<%= form_tag find_a_family_path, :method => :get do %>
	<div class="col-sm-4 col-md-4 col-lg-4">
  		<div class="form-group">
			<label>Distance (miles):</label>
		    <%= select_tag "distance", options_for_select((1..10).step(1).collect {|s| ["#{s}", s]}, :selected => params[:distance]), :class => "form-control"%>
		  </div>
	</div>
  
	<div class="col-sm-4 col-md-4 col-lg-4">
  		<div class="form-group">
			<label>Max Number of Children:</label>
		    <%= select_tag "number_of_children", options_for_select((1..5).step(1).collect {|s| ["#{s}", s]}, :selected => params[:number_of_children]), :class => "form-control", :prompt => "Please select"%>
		  </div>
	</div>


	<%= button_tag "Search", :class => 'btn search-button'%>
<% end %>

</div><!-- /.row -->


<div style='width: 100%; height: auto; min-height:400px;'>
  <div id="map" style='width: 100%; height: auto;min-height:400px;'></div>
</div>
<p><small style="color:#cc0000;">RED icon is your location</small></p>


<hr>

<p class="lead">Potential Families</p>
<% if !params[:distance].present? %>
<small>Default is within 15 miles.  For more precise control, use the search form above.</small>
<% end %>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Email</th>
			<th>Prefered Start Date</th>
			<th>Number of Children</th>
			<th>Distance from you</th>
		</tr>
	</thead>
	<tbody>
		<% @close.each do |loc| %>
			<tr>
				<% if loc.user %>

					<% if loc.user.email != current_user.email %>
				  		<td><%= loc.user.email %></td>
				  		
						<td><% if loc.user.start_date %>
							<%= loc.user.start_date.strftime("%b #{loc.user.start_date.day.ordinalize} %Y")%>
							<% end %>
						</td>
						
						<td><%= loc.user.children.count %></td>
						<td><%= loc.distance.round(2) %> miles</td>	
					<% end %>
				<% else 
					logger.debug "Loc Failed: #{loc.id}"
				 end %>
			</tr>
		<% end %>
	</tbody>
</table>

<script>
	$(document).ready(function(){
		var circleIcon = {
		    path: 'M 0, 0 m -10, 0 a 10, 10 0 1, 0 20, 0 a 10, 10 0 1, 0 -20, 0',
		    fillColor: '#666666',
		    fillOpacity: 0.6,
		    scale: 2.5,
		    strokeColor: '#666666',
		    strokeWeight: 2,
		    strokeOpacity: 0.8
		};

		var userIcon = {
		    path: 'M 0, 0 m -10, 0 a 10, 10 0 1, 0 20, 0 a 10, 10 0 1, 0 -20, 0',
		    fillColor: '#cc0000',
		    fillOpacity: 0.6,
		    scale: 1,
		    strokeColor: '#cc0000',
		    strokeWeight: 2,
		    strokeOpacity: 0.8
		};

		var options = {
	        zoom: 10,
            center: new google.maps.LatLng(<%= current_user.location.latitude%>, <%= current_user.location.longitude%>),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            maxZoom: 14,
			minZoom: 8
        };
        var map = new google.maps.Map(document.getElementById("map"), options);

		var locations = <%= @hash.to_json.html_safe %>;
		
		var infoWindow = new google.maps.InfoWindow();

		// Info Window Content
		var infoWindowContent = [];
		$.each(locations, function(i, item) {
			infoWindowContent.push(item.infowindow);
		});
		
		var userEmail = '<%= current_user.email %>';
			
			
			
		// CREATE MULITPLE MARKERS AND INFO WINDOWS 		
		$.each(locations, function(i, item) {
			
			// DIFF MARKER FOR CURRENT USER
			if(userEmail == item.infowindow){
				var useIcon = userIcon;
				var marker = new google.maps.Marker({
	                position: new google.maps.LatLng(item.lat, item.lng),
	                map: map,
					icon: useIcon
	            });
			
			// NORMAL MARKERS 
			} else {
				var useIcon = circleIcon;
				var marker = new google.maps.Marker({
	                position: new google.maps.LatLng(item.lat + ((Math.random() > 0.5 ? 0.001 : -0.009) + Math.random() * 0.008), item.lng + ((Math.random() > 0.5 ? 0.001 : -0.009) + Math.random() * 0.008)),
	                map: map,
					icon: useIcon,
					title: item.infowindow
	            });
			}
			
			google.maps.event.addListener(marker, 'click', (function(marker, i) {
			    return function() {
	                infoWindow.setContent(infoWindowContent[i]);
	                infoWindow.open(map, marker);
	            }
	        })(marker, i));	
		}); // CLOSE LOCATIONS.EACH	
	});
</script>

<% end %>



