<h2>Sign up</h2>
<p>Fill in basic info here.  Once successful, you will be taken to a page requesting some additional info.</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


	<div class="form-group">
	    <%= f.label :first_name %>
	    <%= f.text_field :first_name, :class => 'form-control', :placeholder => "First Name" %>
	</div>
	
	<div class="form-group">
	    <%= f.label :last_name %>
	    <%= f.text_field :last_name, :class => 'form-control', :placeholder => "Last Name" %>
	</div>
		
	<div class="form-group">
	    <%= f.label :email %>
	    <%= f.email_field :email, :class => 'form-control', :placeholder => "Enter Email" %>
	</div>

 	<div class="form-group">
		<%= f.label :password %>
		<%= f.password_field :password, :class => 'form-control', :placeholder => "Password" %>
	</div>

	<div class="form-group">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Password Confirmation" %>
	</div>
	
	<div class="form-group">
		<label for="start_date">Preferred nanny start date</label>
		<%= f.date_select :start_date, :class => 'form-control', :placeholder => "Start Date " %>
	</div>
	
	<p>By clicking "Sign Up" you are agreeing to our Terms of Use (<%= link_to "Terms", terms_path %>)

	<div><%= f.submit "Sign up", :class => 'btn' %></div>
<% end %>

<%= render "users/shared/links" %>
